* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.alphabet{
    display: flex;
    justify-content: space-evenly;
}
.hiddenWord{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;

}
.poster-image{

}
.hangman-image{
}
.message{

}